# R intro 1 - Practice 2.3

### 1. Import NAV-D14_DEseq2.csv to a dataframe, sort according to padj

In [4]:
setwd("~/ABABhw/Unit1-module2-R/")
nav.d14 <- read.csv("NAV-D14_DEseq2.csv")
head(nav.d14)

  gene.name baseMean   log2FoldChange lfcSE     stat       pvalue
1 TSPAN6     25.256745  1.30246882    0.4166710  3.1258926 1.772662e-03
2 TNMD        0.288508 -0.05077872    0.4875003 -0.1041614 9.170413e-01
3 DPM1      163.507773 -0.05502833    0.2492486 -0.2207769 8.252662e-01
4 SCYL3     296.461713  0.27370099    0.1964251  1.3934117 1.634953e-01
5 C1orf112  199.011986 -1.62012005    0.2833121 -5.7184998 1.070000e-08
6 FGR       122.792530 -5.60936805    0.6378324 -8.7944226 1.440000e-18
  padj
1 8.209295e-03
2           NA
3 9.144493e-01
4 3.312390e-01
5 1.590000e-07
6 7.150000e-17

In [5]:
# omit NA
nav.d14.na <- nav.d14[complete.cases(nav.d14), ]
head(nav.d14.na)

  gene.name baseMean  log2FoldChange lfcSE     stat        pvalue
1 TSPAN6     25.25674  1.30246882    0.4166710  3.12589265 1.772662e-03
3 DPM1      163.50777 -0.05502833    0.2492486 -0.22077688 8.252662e-01
4 SCYL3     296.46171  0.27370099    0.1964251  1.39341172 1.634953e-01
5 C1orf112  199.01199 -1.62012005    0.2833121 -5.71849983 1.070000e-08
6 FGR       122.79253 -5.60936805    0.6378324 -8.79442261 1.440000e-18
7 CFH        27.40522 -0.05492040    0.7307163 -0.07515968 9.400877e-01
  padj
1 8.209295e-03
3 9.144493e-01
4 3.312390e-01
5 1.590000e-07
6 7.150000e-17
7 9.742211e-01

In [6]:
nav.d14.order <- nav.d14[order(nav.d14$padj),]
head(nav.d14.order)

    gene.name baseMean   log2FoldChange lfcSE     stat      pvalue   padj
469 TNFRSF1B   542.82545 -3.406411      0.2267235 -15.02452 5.07e-51 3.25e-48
394 CD74      2666.66747 -3.133593      0.2146900 -14.59590 2.98e-48 1.54e-45
460 SLAMF7     796.08484 -5.924170      0.4107372 -14.42326 3.69e-47 1.85e-44
298 ANLN        86.61972 -4.292672      0.3590313 -11.95626 6.02e-33 1.02e-30
197 E2F2        56.39916 -5.011194      0.4223203 -11.86586 1.78e-32 2.95e-30
76  SLC25A5    839.58682 -1.630522      0.1549378 -10.52372 6.72e-26 6.58e-24

### 2. Check the first 7 rows and last 8 rows of dataframe. Check the dimensions of the dataframe.

In [7]:
head(nav.d14, n=7)
tail(nav.d14, n=8)
dim(nav.d14)

  gene.name baseMean   log2FoldChange lfcSE     stat        pvalue
1 TSPAN6     25.256745  1.30246882    0.4166710  3.12589265 1.772662e-03
2 TNMD        0.288508 -0.05077872    0.4875003 -0.10416140 9.170413e-01
3 DPM1      163.507773 -0.05502833    0.2492486 -0.22077688 8.252662e-01
4 SCYL3     296.461713  0.27370099    0.1964251  1.39341172 1.634953e-01
5 C1orf112  199.011986 -1.62012005    0.2833121 -5.71849983 1.070000e-08
6 FGR       122.792530 -5.60936805    0.6378324 -8.79442261 1.440000e-18
7 CFH        27.405217 -0.05492040    0.7307163 -0.07515968 9.400877e-01
  padj
1 8.209295e-03
2           NA
3 9.144493e-01
4 3.312390e-01
5 1.590000e-07
6 7.150000e-17
7 9.742211e-01

    gene.name baseMean   log2FoldChange lfcSE     stat       pvalue
493 ARID4A    1435.32399  0.04869732    0.1904170  0.2557404 0.79815131
494 EIPR1       87.86504 -0.95503525    0.2356304 -4.0531067 0.00005050
495 PNPLA6     146.41751 -0.14635328    0.2900234 -0.5046257 0.61382175
496 IFT88      111.71539  0.60100567    0.3082850  1.9495130 0.05123419
497 ALG1        72.37193  0.33922670    0.2449200  1.3850512 0.16603683
498 ZCCHC8     270.00278 -0.22916478    0.1966266 -1.1654819 0.24382397
499 ABCF2      288.47676  0.10264088    0.2711067  0.3785995 0.70498528
500 CHPF2      171.74016 -0.07133449    0.2608077 -0.2735138 0.78445831
    padj
493 0.901071201
494 0.000358293
495 0.782170557
496 0.136193820
497 0.335217676
498 0.441891441
499 0.845654432
500 0.893661075

[1] 500   7

### 3. Create a self defined function that evaluate p-value, use lappy to apply function to all the pvalues, and use summarize p-value types.

In [8]:
# p-value types
# p > 0.05: n.s.
# 0.05 >= p > 0.01: *
# 0.01 >= p > 0.001: **
# 0.001 >= p > 0.0001: ***
# 0.0001 >= p: ****
pType <- function(p.val) {
    if (is.na(p.val)) {
        return(NA)
    }
    else if(p.val > 0.05) {
        return("n.s.")
    }
    else if(p.val > 0.01) {
        return("*")
    }
    else if(p.val > 0.001) {
        return("**")
    }
    else if(p.val > 0.0001) {
        return("***")
    }
    else {
        return("****")
    }
}

In [9]:
nav.d14.ptype <- lapply(nav.d14$pvalue, pType)
nav.d14.ptype <- factor(unlist(nav.d14.ptype))
summary(nav.d14.ptype)

   *   **  *** **** n.s. NA's
  37   34   25   93  306    5

### 4. Add list of p-value type to dataframe, subset dataframe to exclude p-value that is not significant, and write the dataframe into a csv file.

In [7]:
nav.d14 <- cbind(nav.d14, nav.d14.ptype)
head(nav.d14)

    gene.name baseMean   log2FoldChange lfcSE     stat      pvalue   padj
469 TNFRSF1B   542.82545 -3.406411      0.2267235 -15.02452 5.07e-51 3.25e-48
394 CD74      2666.66747 -3.133593      0.2146900 -14.59590 2.98e-48 1.54e-45
460 SLAMF7     796.08484 -5.924170      0.4107372 -14.42326 3.69e-47 1.85e-44
298 ANLN        86.61972 -4.292672      0.3590313 -11.95626 6.02e-33 1.02e-30
197 E2F2        56.39916 -5.011194      0.4223203 -11.86586 1.78e-32 2.95e-30
76  SLC25A5    839.58682 -1.630522      0.1549378 -10.52372 6.72e-26 6.58e-24
    nav.d14.ptype
469 ****
394 ****
460 ****
298 ****
197 ****
76  ****

In [9]:
nav.d14.sig <- subset(nav.d14, nav.d14.ptype != "n.s.")
dim(nav.d14)
dim(nav.d14.sig)

[1] 500   8

[1] 189   8

In [10]:
write.table(nav.d14.sig, row.names=FALSE, "nav.d14.sig.csv", sep=",")