# R intro
Huitian Diao
* Reference: 
* Quick-R by DataCamp
* R for Beginners by emmanuel Paradis

## R syntax

### 1. Value assignment and function

In [1]:
my.string <- "Hello, world!"

In [2]:
print(my.string)

[1] "Hello, world!"

* Exercise: make R print your name

In [3]:
myname<-"Yu"

In [4]:
print(myname)

[1] "Yu"

### 2. Comments

In [3]:
print("Hello Apple!")

[1] "Hello Apple!"

In [4]:
#print("Hello Banana?")

In [5]:
print("Hello Banana?")

[1] "Hello Banana?"

In [5]:
print ("Hello Cranberry!") #Cranberry is delicious

[1] "Hello Cranberry!"

### 3. Working directory

In [6]:
getwd()

[1] "/Users/yolandatiao/Documents/0_Bioinformatics2017/2018_Bioinformatics/Applied-Bioinformatics-Course/Unit1-module2-R"

In [7]:
setwd('/Users/yolandatiao/Documents/0_Bioinformatics2017/2018_Bioinformatics/Applied-Bioinformatics-Course')
getwd()

[1] "/Users/yolandatiao/Documents/0_Bioinformatics2017/2018_Bioinformatics/Applied-Bioinformatics-Course"

In [8]:
list.files()

[1] "LICENSE"                   "R_installation_Windows.md"
[3] "R_package_installation.md" "README.md"
[5] "RNAseq"                    "Unit1-module2-R"
[7] "week1"                     "week2"

In [9]:
R.Version()

$platform
[1] "x86_64-apple-darwin11.4.2"

$arch
[1] "x86_64"

$os
[1] "darwin11.4.2"

$system
[1] "x86_64, darwin11.4.2"

$status
[1] ""

$major
[1] "3"

$minor
[1] "3.2"

$year
[1] "2016"

$month
[1] "10"

$day
[1] "31"

$`svn rev`
[1] "71607"

$language
[1] "R"

$version.string
[1] "R version 3.3.2 (2016-10-31)"

$nickname
[1] "Sincere Pumpkin Patch"

In [6]:
help("print") # And also google...

## Data in R

### 1. Objects: name, content and attribute

In [7]:
my.string <- "foo"
my.number <- 888
my.logic <- TRUE
my.vector <- c(1, 2, 3)

In [8]:
mode(my.string)
mode(my.number)
mode(my.logic)
mode(my.vector)

[1] "character"

[1] "numeric"

[1] "logical"

[1] "numeric"

### 2. Data types

#### 2.1 Vectors: a sequence of data elements of the same basic type. Members in a vector are called components.

In [10]:
my.numbers <- c(1,2,3)
my.fruits <- c("Apple","Banana","Cranberry")
my.logic <- c(TRUE,FALSE,TRUE)

In [11]:
mode(my.numbers)
mode(my.fruits)
mode(my.logic)

[1] "numeric"

[1] "character"

[1] "logical"

In [12]:
my.vector <- c(1,2,"a",FALSE)
mode(my.vector) # All the elements are considered to be characters, to keep the consistency of data typein the vector

[1] "character"

In [13]:
my.logic[1] # Retrive one element
my.fruits[c(1,3)] # Retrive multiple element
my.numbers[c(1,2)] # Keep in mind that in R the number of elements start with 1, not 0!!!

[1] TRUE

[1] "Apple"     "Cranberry"

[1] 1 2

In [16]:
new.vector <- c(my.numbers, my.fruits) # Combining vectors
new.vector # Again, all the elements became characters

[1] "1"         "2"         "3"         "Apple"     "Banana"    "Cranberry"

#### 2.2 Matrix: elements arranged in a two-dimensional rectangular layout. Elements in matrix are the same type.

In [17]:
my.matrix <- matrix(1:20, nrow=5, ncol=4) # Simple initialization of a numeric matrix
my.matrix

     [,1] [,2] [,3] [,4]
[1,] 1     6   11   16
[2,] 2     7   12   17
[3,] 3     8   13   18
[4,] 4     9   14   19
[5,] 5    10   15   20

In [14]:
my.fruits <- c("Apple","Bananna","Cranberry","Durian")
row.names <- c("Row1", "Row2")
column.names <- c("ColA", "ColB")
# Create a matrix from a vector, and add names for the dimensions
my.fruits.matrix <- matrix(my.fruits, nrow=2, ncol=2, byrow=TRUE, dimnames=list(row.names, column.names)) 
my.fruits.matrix

     ColA      ColB
Row1 Apple     Bananna
Row2 Cranberry Durian

#### 2.3 Array: like matrices but can store more than 2 dimensions.

In [15]:
vector.1 <- seq(0,26,by=1) # Create a vector of numbers from 0 to 26.
column.names <- c("ColA","ColB","ColC") # A vector for the column names
row.names <- c("Row1","Row2","Row3") # A vector for row names
matrix.names <- c("theMatrix","theMatrixReloaded","theMatrixRevolutions") # A vector for matrix names (third dimension)
# Create an array from vector
array.1 <- array(vector.1, dim=c(3,3,3), dimnames=list(row.names,column.names,matrix.names))
print(array.1)

, , theMatrix

     ColA ColB ColC
Row1    0    3    6
Row2    1    4    7
Row3    2    5    8

, , theMatrixReloaded

     ColA ColB ColC
Row1    9   12   15
Row2   10   13   16
Row3   11   14   17

, , theMatrixRevolutions

     ColA ColB ColC
Row1   18   21   24
Row2   19   22   25
Row3   20   23   26

#### 2.4 Data Frames: like matrices, but different columns can have different modes.

In [16]:
fruits.type <- c("Apple","Bananna","Cranberry","Durian")
fruits.numbers <- c(10,20,100,4)
fruits.price <- c(5,10,15,20)
fruits.smell <- c(FALSE, FALSE, FALSE, TRUE)
# Create a data frame from vectors
df.fruits <- data.frame(fruits.type, fruits.numbers, fruits.price, fruits.smell)
df.fruits

  fruits.type fruits.numbers fruits.price fruits.smell
1 Apple        10             5           FALSE
2 Bananna      20            10           FALSE
3 Cranberry   100            15           FALSE
4 Durian        4            20            TRUE

In [21]:
names(df.fruits) <- c("Type","Number","Price","Smell") # Rename columns
df.fruits

  Type      Number Price Smell
1 Apple      10     5    FALSE
2 Bananna    20    10    FALSE
3 Cranberry 100    15    FALSE
4 Durian      4    20     TRUE

In [22]:
row.names(df.fruits) <- c("row1", "row2", "row3", "row4") # Rename rows
df.fruits

     Type      Number Price Smell
row1 Apple      10     5    FALSE
row2 Bananna    20    10    FALSE
row3 Cranberry 100    15    FALSE
row4 Durian      4    20     TRUE

In [23]:
df.fruits[c("Type","Price")] # Extract columns with IDs "Type" and "Price"

     Type      Price
row1 Apple      5
row2 Bananna   10
row3 Cranberry 15
row4 Durian    20

In [24]:
df.fruits[1:2] # Extract columns 1-2 of data frame

     Type      Number
row1 Apple      10
row2 Bananna    20
row3 Cranberry 100
row4 Durian      4

In [25]:
df.fruits$Type # Extract "Type" from data frame

[1] Apple     Bananna   Cranberry Durian
Levels: Apple Bananna Cranberry Durian

In [26]:
df.emp <- data.frame(matrix(ncol = 10, nrow = 5)) # Initializing an empty dataframe with matrix
df.emp

  X1 X2 X3 X4 X5 X6 X7 X8 X9 X10
1 NA NA NA NA NA NA NA NA NA NA
2 NA NA NA NA NA NA NA NA NA NA
3 NA NA NA NA NA NA NA NA NA NA
4 NA NA NA NA NA NA NA NA NA NA
5 NA NA NA NA NA NA NA NA NA NA

#### 2.5 List: an ordered collection of objects. A list allows you to gather a variety of objects.

In [23]:
nutella.favorite <- c("chocolate", "peanut", "cheese")
nutella.matrix <- matrix(1:20, nrow=5, ncol=4)
# Create list with different types of data
nutella.info <- list(my.name="Nutella", my.species="Mus.Musculus", my.age=0.2, my.color="Brown", 
                my.favorite=nutella.favorite, my.matrix=nutella.matrix)
nutella.info

$my.name
[1] "Nutella"

$my.species
[1] "Mus.Musculus"

$my.age
[1] 0.2

$my.color
[1] "Brown"

$my.favorite
[1] "chocolate" "peanut"    "cheese"

$my.matrix
     [,1] [,2] [,3] [,4]
[1,]    1    6   11   16
[2,]    2    7   12   17
[3,]    3    8   13   18
[4,]    4    9   14   19
[5,]    5   10   15   20

#### 2.6 Factors: a nominal variable

In [17]:
gender <- c(rep("male",20), rep("female", 30)) 
summary(gender)

   Length     Class      Mode
       50 character character

In [21]:
gender <- factor(gender) # Convert the vector's data type to factor, and then summary()
summary(gender)

female   male
    30     20

#### 2.7 Data type conversion

In [30]:
my.numbers <- c("1","2","3","4")
class(my.numbers)
my.numbers <- as.numeric(my.numbers)
class(my.numbers)

[1] "character"

[1] "numeric"

In [31]:
my.logic <- c(TRUE, TRUE, FALSE)
class(my.logic)
my.logic <- as.character(my.logic)
class(my.logic)

[1] "logical"

[1] "character"

### 3. Basic functions for objects

In [24]:
class(nutella.info) # Type of object

[1] "list"

In [25]:
names(nutella.info) # Names

[1] "my.name"     "my.species"  "my.age"      "my.color"    "my.favorite"
[6] "my.matrix"

In [26]:
str(nutella.info) # Structure of an object

List of 6
 $ my.name    : chr "Nutella"
 $ my.species : chr "Mus.Musculus"
 $ my.age     : num 0.2
 $ my.color   : chr "Brown"
 $ my.favorite: chr [1:3] "chocolate" "peanut" "cheese"
 $ my.matrix  : int [1:5, 1:4] 1 2 3 4 5 6 7 8 9 10 ...

In [27]:
length(nutella.info) # Number of elements

[1] 6

In [36]:
ls() # List current objects

 [1] "array.1"          "column.names"     "df.emp"           "df.fruits"
 [5] "fruits.numbers"   "fruits.price"     "fruits.smell"     "fruits.type"
 [9] "gender"           "matrix.names"     "my.fruits"        "my.fruits.matrix"
[13] "my.logic"         "my.matrix"        "my.number"        "my.numbers"
[17] "my.string"        "my.vector"        "new.vector"       "nutella.favorite"
[21] "nutella.info"     "nutella.matrix"   "row.names"        "vector.1"

In [37]:
rm(nutella.info) # Delete a object
ls()

 [1] "array.1"          "column.names"     "df.emp"           "df.fruits"
 [5] "fruits.numbers"   "fruits.price"     "fruits.smell"     "fruits.type"
 [9] "gender"           "matrix.names"     "my.fruits"        "my.fruits.matrix"
[13] "my.logic"         "my.matrix"        "my.number"        "my.numbers"
[17] "my.string"        "my.vector"        "new.vector"       "nutella.favorite"
[21] "nutella.matrix"   "row.names"        "vector.1"

## Basic data operations

### 1. Operators

#### 1.1 Arithemetic operators

In [38]:
x <- 2
y <- 3
x+y
x-y
x*y
x/y
x**y # exponentiation
x%%y # modulus
x%/%y # integer division

[1] 5

[1] -1

[1] 6

[1] 0.6666667

[1] 8

[1] 2

[1] 0

#### 1.2 Logical operators

In [39]:
x <- 5
y <- 11
x < y
x > y
x <= y
x >= y
x == y
x != y

[1] TRUE

[1] FALSE

[1] TRUE

[1] FALSE

[1] FALSE

[1] TRUE

In [40]:
like.chocolate <- TRUE
like.spam <- FALSE
!like.chocolate
like.chocolate | like.spam
like.chocolate & like.spam
isTRUE(like.spam)

[1] FALSE

[1] TRUE

[1] FALSE

[1] FALSE

#### 1.3 Built-in functions

In [41]:
x <- -16
y <- 1.239
z <- -2.251
abs(x)
sqrt(-x)
ceiling(y)
floor(z)
trunc(z)
round(y, digits=2)
signif(y, digits=2)
cos(x)
sin(x)
tan(x)
log(y)
log10(y)
exp(x)

[1] 16

[1] 4

[1] 2

[1] -3

[1] -2

[1] 1.24

[1] 1.2

[1] -0.9576595

[1] 0.2879033

[1] -0.3006322

[1] 0.2143046

[1] 0.09307131

[1] 1.125352e-07

In [42]:
my.name <- "Nutella"
my.fav <- c("chocolate", "peanut", "cheese")
my.motto <- "I love chocolate. --Nutella"

In [43]:
substr(my.name, start=1, stop=5) # Extract part of the string

[1] "Nutel"

In [46]:
grep("cheese", my.fav) # Search for pattern (It is different from Bash Grep!!!!!!)

[1] 3

In [47]:
sub( "chocolate","cheese", my.motto) # Replace pattern

[1] "I love cheese. --Nutella"

In [48]:
strsplit(my.motto, " ") # Split elements

[[1]]
[1] "I"          "love"       "chocolate." "--Nutella"

In [49]:
paste(1:3, my.fav, sep=": ") # Concatenate strings

[1] "1: chocolate" "2: peanut"    "3: cheese"

In [50]:
toupper(my.motto)

[1] "I LOVE CHOCOLATE. --NUTELLA"

In [51]:
tolower(my.motto)

[1] "i love chocolate. --nutella"

### 2. Control structures

#### 2.1 if-else

In [52]:
like.peanut <- TRUE
if (like.peanut){
    print("I like peanuts!")
} else {
    print("What do I like?")
}

[1] "I like peanuts!"

In [56]:
like.hay <- FALSE
like.cotton <- TRUE
if (like.hay){
    print("I like to build my nest with hay!")
} else if (like.cotton){
    print("I like to build my nest with cotton!")
} else {
    print("Ummm.... what should I use...?")
}

[1] "I like to build my nest with cotton!"

#### 2.2 for

In [18]:
for (i in c(1:10)) {
    print("More chocolate please!")
}

[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"

In [61]:
my.fav <- c("chocolate", "peanut", "cheese")
for (i in my.fav) {
    out.put <- paste("More", i, "please!") # Paste 3 elements into a single string
    print(out.put)
}

[1] "More chocolate please!"
[1] "More peanut please!"
[1] "More cheese please!"

#### 2.3 while

In [62]:
i <- 0
while (i < 10) {
    print("More chocolate please!")
    i <- i+1 # Super important! Or your while loop will never end...
}

[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"

# Practice

## Practice 2.1

1. Check your working directory, change directory to Unit1-module2-R, and list the files in the folder

In [45]:
getwd()
list.files()

[1] "/home/yuwang/ABABhw/Unit1-module2-R"

[1] "NAV-D14_DEseq2.csv" "NAV-MEM_DEseq2.csv" "ppg2008.csv"
[4] "R-1.pptx"           "R.intro.1.ipynb"    "R.intro.1.pdf"
[7] "R.intro.2.ipynb"

2. Create a vector containing names of 5 states and print it.

In [46]:
states <- c("anger", "disgust", "fear", "happiness", "sadness")
states

[1] "anger"     "disgust"   "fear"      "happiness" "sadness"

3. Create a matrix with 100 numbers, with 10 column and 10 rows, and print it.

In [47]:
vector.1 <- seq(1,100,by=1)
array.1 <- array(vector.1, dim=c(10,10,1))
print(array.1)

, , 1

      [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
 [1,]    1   11   21   31   41   51   61   71   81    91
 [2,]    2   12   22   32   42   52   62   72   82    92
 [3,]    3   13   23   33   43   53   63   73   83    93
 [4,]    4   14   24   34   44   54   64   74   84    94
 [5,]    5   15   25   35   45   55   65   75   85    95
 [6,]    6   16   26   36   46   56   66   76   86    96
 [7,]    7   17   27   37   47   57   67   77   87    97
 [8,]    8   18   28   38   48   58   68   78   88    98
 [9,]    9   19   29   39   49   59   69   79   89    99
[10,]   10   20   30   40   50   60   70   80   90   100

4. Create a dataframe for experiment animals to record their information. 
 Name the dataframe's columns. 
 Make gender of animals a nominal variable and summarize the gender.
 Check the structure of your dataframe and the type of elements in your dataframe

#Animal info:
#Names: Fluf1, Fluf2, Fluf3, Fluf4, Fluf5, Fluf6, Fluf7, Fluf8
#Number: 7103, 7104, 7105, 7106, 7107, 7108, 7109, 7110
#Weight: 19, 18, 23, 22, 17, 18, 21, 20 
#Treated: TRUE, TRUE, FALSE, FALSE, TRUE, FALSE, TRUE, FALSE
#Gender: Female, Female, Male, Male, Female, Female, Male, Male

In [50]:
animal.names <- c("Fluf1","Fluf2", "Fluf3", "Fluf4", "Fluf5", "Fluf6", "Fluf7", "Fluf8")
animal.number <- seq(7103, 7110, by=1)
animal.weight <- c(19,18,23,22,17,18,21,20)
animal.treated<-c(TRUE,TRUE,FALSE,FALSE,TRUE,FALSE,TRUE,FALSE)
animal.gender <- c("Female", "Female", "Male", "Male", "Female", "Female", "Male", "Male")
animal.info <- data.frame(animal.names, animal.number, animal.weight, animal.treated, animal.gender)
names(animal.info) <- c("Names", "Number", "Weight", "Treated", "Gender")
animal.info

  Names Number Weight Treated Gender
1 Fluf1 7103   19      TRUE   Female
2 Fluf2 7104   18      TRUE   Female
3 Fluf3 7105   23     FALSE   Male
4 Fluf4 7106   22     FALSE   Male
5 Fluf5 7107   17      TRUE   Female
6 Fluf6 7108   18     FALSE   Female
7 Fluf7 7109   21      TRUE   Male
8 Fluf8 7110   20     FALSE   Male

In [52]:
animal.gender <- factor(animal.gender)
summary(animal.gender)

Female   Male
     4      4

In [54]:
str(animal.info)

'data.frame':	8 obs. of  5 variables:
 $ Names  : Factor w/ 8 levels "Fluf1","Fluf2",..: 1 2 3 4 5 6 7 8
 $ Number : num  7103 7104 7105 7106 7107 ...
 $ Weight : num  19 18 23 22 17 18 21 20
 $ Treated: logi  TRUE TRUE FALSE FALSE TRUE FALSE ...
 $ Gender : Factor w/ 2 levels "Female","Male": 1 1 2 2 1 1 2 2

## Practice 2.2

Build a vector containing characters a to e, and another vector containing number 1-6. 
- Convert the first vector to all upper case. 
- Concatente the two vectors and check the element type of the all the vectors created.

In [66]:
vector.1 <- c(letters[1:5])
vector.2 <- seq(1,6,by=1)
vector.1 <- toupper(vector.1)
print(vector.1)

[1] "A" "B" "C" "D" "E"

In [67]:
mode(vector.1)

[1] "character"

In [68]:
mode(vector.2)

[1] "numeric"

In [71]:
vector.combine <- c(vector.1, vector.2)
vector.combine
mode(vector.combine)

 [1] "A" "B" "C" "D" "E" "1" "2" "3" "4" "5" "6"

[1] "character"

Use a while loop to print out all the numbers that can be divided by 3 from 1 to 100 and count how many of them exist.

In [73]:
i <- 1
t<-0
while (i <= 100) {
    if (i%%3==0){
       print(i)
        t <- t+1
    }
    i <- i+1   
}
print(paste("Total number",t))

[1] 3
[1] 6
[1] 9
[1] 12
[1] 15
[1] 18
[1] 21
[1] 24
[1] 27
[1] 30
[1] 33
[1] 36
[1] 39
[1] 42
[1] 45
[1] 48
[1] 51
[1] 54
[1] 57
[1] 60
[1] 63
[1] 66
[1] 69
[1] 72
[1] 75
[1] 78
[1] 81
[1] 84
[1] 87
[1] 90
[1] 93
[1] 96
[1] 99
[1] "Total number 33"

Nutella needs to be fed with 5 grams of rodent diet everyday. 
- Please create a for loop that will take a vector containing the weight of food that is given, and print out if the food is enough / more than enough / too little.
- Create a vector with TRUE or FALSE for the output, if the food is enough or more then TRUE, else FALSE.
- Initialize empty vector of certain length -- e.g.: character(10) # create a empty vector of 10 elements with data type character
- Weight of rodent diet given to Nutella this week (food.weight <- c(7,3,5,6,10,5,6)

In [76]:
food.weight <- c(7,3,5,6,10,5,6)
food.enough <- c()
for (i in food.weight){
    if (i>=5){
        food.enough<-c(food.enough,TRUE)
    }else{
        food.enough<-c(food.enough,FALSE)
    }
}
print(food.enough)

[1]  TRUE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE

## Homework

## 1. Hello world everyday!
### 1.1 Make a vector containing days of the week, from Monday to Sunday.
### 1.2 Use a for loop to pring "Hello world XXXday!" for each day of the week.

In [30]:
week.days <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday")
print(week.days)

[1] "Monday"    "Tuesday"   "Wednesday" "Thursday"  "Friday"    "Saturday"
[7] "Sunday"

In [33]:
for (i in week.days){
    output<-paste("Hello world", i, "!")
    print(gsub(" !","!", output))
}

[1] "Hello world Monday!"
[1] "Hello world Tuesday!"
[1] "Hello world Wednesday!"
[1] "Hello world Thursday!"
[1] "Hello world Friday!"
[1] "Hello world Saturday!"
[1] "Hello world Sunday!"

## 2. The Pie
### 2.1 In the first 100 digits of pie, count how many numbers are even. 
### 2.2 Convert the first 200 digits of pie into a 20x10 matrix

In [35]:
a <- pi
as.numeric(strsplit(as.character(a), "")[[1]])
## [1] 6 5 4 7

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

 [1]  3 NA  1  4  1  5  9  2  6  5  3  5  8  9  7  9

In [40]:
sprintf("%.99f",pi)

[1] "3.141592653589793115997963468544185161590576171875000000000000000000000000000000000000000000000000000"

In [43]:
install.packages("bcmaps")

Installing package into ‘/home/yuwang/R/x86_64-pc-linux-gnu-library/3.5’
(as ‘lib’ is unspecified)
also installing the dependencies ‘spData’, ‘e1071’, ‘units’, ‘classInt’, ‘rappdirs’, ‘sf’

Warning message in install.packages("bcmaps"):
“installation of package ‘units’ had non-zero exit status”Warning message in install.packages("bcmaps"):
“installation of package ‘sf’ had non-zero exit status”Warning message in install.packages("bcmaps"):
“installation of package ‘bcmaps’ had non-zero exit status”

In [42]:
print(pi, digits=100)

ERROR: Error in print.default(pi, digits = 100): invalid 'digits' argument

## 3. Install Swirl,  do "R programming" and "Data analysis"
https://swirlstats.com/students.html Do it as you like!