# R intro 1 - Practice 1.1

### 1. Check your working directory, change directory to Unit1-module2-R, and list the files in the folder

In [1]:
getwd()
setwd('/Users/yolandatiao/Documents/0_Bioinformatics2017/2018_Bioinformatics/Applied-Bioinformatics-Course/Unit1-module2-R')

[1] "/Users/yolandatiao/Documents/0_Bioinformatics2017/2018_Bioinformatics/Applied-Bioinformatics-Course/Unit1-module2-R"

### 2. Create a vector containing names of 5 states and print it.

In [2]:
states <- c("Florida", "California", "Texas", "North Carolina", "New York")
print(states)

[1] "Florida"        "California"     "Texas"          "North Carolina"
[5] "New York"

### 3. Create a matrix with 100 numbers, with 10 column and 10 rows, and print it.

In [3]:
my.matrix <- matrix(1:100, nrow=10, ncol=10)
print(my.matrix)

      [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
 [1,]    1   11   21   31   41   51   61   71   81    91
 [2,]    2   12   22   32   42   52   62   72   82    92
 [3,]    3   13   23   33   43   53   63   73   83    93
 [4,]    4   14   24   34   44   54   64   74   84    94
 [5,]    5   15   25   35   45   55   65   75   85    95
 [6,]    6   16   26   36   46   56   66   76   86    96
 [7,]    7   17   27   37   47   57   67   77   87    97
 [8,]    8   18   28   38   48   58   68   78   88    98
 [9,]    9   19   29   39   49   59   69   79   89    99
[10,]   10   20   30   40   50   60   70   80   90   100

In [2]:
my.matrix.2 <- matrix(1:100, byrow=TRUE, nrow=10, ncol=10) # By using "byrow" option, the arrangement of number changed
print(my.matrix.2)

      [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
 [1,]    1    2    3    4    5    6    7    8    9    10
 [2,]   11   12   13   14   15   16   17   18   19    20
 [3,]   21   22   23   24   25   26   27   28   29    30
 [4,]   31   32   33   34   35   36   37   38   39    40
 [5,]   41   42   43   44   45   46   47   48   49    50
 [6,]   51   52   53   54   55   56   57   58   59    60
 [7,]   61   62   63   64   65   66   67   68   69    70
 [8,]   71   72   73   74   75   76   77   78   79    80
 [9,]   81   82   83   84   85   86   87   88   89    90
[10,]   91   92   93   94   95   96   97   98   99   100

### 2. Create a dataframe for experiment animals to record their information. Name the dataframe's columns. Make gender of animals a nominal variable.

In [4]:
#Animal info:
#Names: Fluf1, Fluf2, Fluf3, Fluf4, Fluf5, Fluf6, Fluf7, Fluf8
#Number: 7103, 7104, 7105, 7106, 7107, 7108, 7109, 7110
#Weight: 19, 18, 23, 22, 17, 18, 21, 20 
#Treated: TRUE, TRUE, FALSE, FALSE, TRUE, FALSE, TRUE, FALSE
#Gender: Female, Female, Male, Male, Female, Female, Male, Male

names <- paste(rep("Fluf", each=8), 1:8, sep="")
numbers <- c(7103:7110)
weights <- c(19, 18, 23, 22, 17, 18, 21, 20)
treatments <- c(TRUE, TRUE, FALSE, FALSE, TRUE, FALSE, TRUE, FALSE)
genders <- c("Female", "Female", "Male", "Male","Female", "Female", "Male", "Male")
genders <- factor(genders)
summary(genders)
exp.animals <- data.frame(Name=names, Number=numbers, Weight=weights, Treatment=treatments, Gender=genders)
exp.animals

Female   Male
     4      4

  Name  Number Weight Treatment Gender
1 Fluf1 7103   19      TRUE     Female
2 Fluf2 7104   18      TRUE     Female
3 Fluf3 7105   23     FALSE     Male
4 Fluf4 7106   22     FALSE     Male
5 Fluf5 7107   17      TRUE     Female
6 Fluf6 7108   18     FALSE     Female
7 Fluf7 7109   21      TRUE     Male
8 Fluf8 7110   20     FALSE     Male

In [3]:
# Using rep to create vector with repetitive elements
rep("Foo", each = 10)

 [1] "Foo" "Foo" "Foo" "Foo" "Foo" "Foo" "Foo" "Foo" "Foo" "Foo"

In [5]:
# Using rep to repeat elements of a vector
rep(1:4, each = 2)
rep(c("apple","banana","cranberry"), each = 3)

[1] 1 1 2 2 3 3 4 4

[1] "apple"     "apple"     "apple"     "banana"    "banana"    "banana"
[7] "cranberry" "cranberry" "cranberry"

In [13]:
# Using rep and paste to create vector with repetition and combination
vector.foo <- paste(rep("Foo", each=10), c(1:10), sep="-")
vector.bar <- paste(vector.foo, rep("Bar", each=10), sep="-")
vector.foo
vector.bar

 [1] "Foo-1"  "Foo-2"  "Foo-3"  "Foo-4"  "Foo-5"  "Foo-6"  "Foo-7"  "Foo-8"
 [9] "Foo-9"  "Foo-10"

 [1] "Foo-1-Bar"  "Foo-2-Bar"  "Foo-3-Bar"  "Foo-4-Bar"  "Foo-5-Bar"
 [6] "Foo-6-Bar"  "Foo-7-Bar"  "Foo-8-Bar"  "Foo-9-Bar"  "Foo-10-Bar"

In [5]:
str(exp.animals)
class(exp.animals$Name)
class(exp.animals$Number)
class(exp.animals$Weight)
class(exp.animals$Treatment)
class(exp.animals$Gender)

'data.frame':	8 obs. of  5 variables:
 $ Name     : Factor w/ 8 levels "Fluf1","Fluf2",..: 1 2 3 4 5 6 7 8
 $ Number   : int  7103 7104 7105 7106 7107 7108 7109 7110
 $ Weight   : num  19 18 23 22 17 18 21 20
 $ Treatment: logi  TRUE TRUE FALSE FALSE TRUE FALSE ...
 $ Gender   : Factor w/ 2 levels "Female","Male": 1 1 2 2 1 1 2 2

[1] "factor"

[1] "integer"

[1] "numeric"

[1] "logical"

[1] "factor"