# R intro
Huitian Diao
* Reference: 
* Quick-R by DataCamp
* R for Beginners by emmanuel Paradis

## Data operations

### 1. Operators

#### 1.1 Arithemetic operators
```
x+y
x-y
x*y
x/y
x**y # exponentiation
x%%y # modulus
x%/%y # integer division
```

In [6]:
# Try the calculations!
x <- 3
y <- 5
z <- x + y
z

[1] 8

#### 1.2 Logical operators
##### Comparisons:
```
<
>
<=
>=
==
!=
```

In [11]:
# Try comparisons!
x <- 5
y <- 11
z <- x > y
z

[1] FALSE

##### Logical operations:
```
!
|
&
isTRUE()
```

In [13]:
# Try logical operators!
like.chocolate <- TRUE
like.spam <- FALSE
!like.chocolate

[1] FALSE

#### 1.3 Built-in functions

##### Math built-in functions

In [15]:
# Have fun with math!
x <- -16
y <- 1.239
z <- -2.251
abs(x)
sqrt(-x)
ceiling(y)
floor(z)
trunc(z)
round(y, digits=2)
signif(y, digits=2)
cos(x)
sin(x)
tan(x)
log(y)
log10(y)
exp(x)

[1] 16

[1] 4

[1] 2

[1] -3

[1] -2

[1] 1.24

[1] 1.2

[1] -0.9576595

[1] 0.2879033

[1] -0.3006322

[1] 0.2143046

[1] 0.09307131

[1] 1.125352e-07

##### Other useful built-in operators
```
substr() # Extract part of the string
grep() # Search for pattern (It is different from Bash grep!!!)
sub() # Replace pattern
strsplit() # Split elements fro a string
paste() # Concatenate strings
toupper() # Convert to upper case
tolower() # Convert to lower case
```

In [16]:
# Try it out!
my.name <- "Nutella"
my.fav <- c("chocolate", "peanut", "cheese")
my.motto <- "I love chocolate. --Nutella"
substr(my.name, start=1, stop=5) # Extract from 1st character to 5th character
grep("cheese", my.fav) # Find the position of "cheese" in the vector
sub("chocolate", "cheese", my.motto) # Replace "chocolate" by "cheese" in my.motto
strsplit(my.motto, " ") # Split my.motto by space
paste(1:3, my.fav, sep=": ") # Concatenate elements in vector c(1, 2, 3) with elements in vector my.fav, seprate by ": "
toupper(my.motto)
tolower(my.motto)

[1] "Nutel"

[1] 3

[1] "I love cheese. --Nutella"

[[1]]
[1] "I"          "love"       "chocolate." "--Nutella"

[1] "1: chocolate" "2: peanut"    "3: cheese"

[1] "I LOVE CHOCOLATE. --NUTELLA"

[1] "i love chocolate. --nutella"

### 2. Control structures

#### 2.1 If-else
```
# if ... else ...
like.peanut <- TRUE
if (like.peanut){
    print("I like peanuts!")
} else {
    print("What do I like?")
}
```

In [26]:
# Try if... else ... !

```
# if .. else if ... else ...
like.hay <- FALSE
like.cotton <- TRUE
if (like.hay){
    print("I like to build my nest with hay!")
} else if (like.cotton){
    print("I like to build my nest with cotton!")
} else {
    print("Ummm.... what should I use...?")
}
```

In [27]:
# Try if ... else if ... else ... !

#### 2.2 for
```
# Looping a numeric vector
for (i in c(1:10)) {
    print("More chocolate please!")
}
```

In [23]:
# Try numeric vector for loop!

```
# Looping a character vector
my.fav <- c("chocolate", "peanut", "cheese")
for (i in my.fav) {
    out.put <- paste("More", i, "please!") # Paste 3 elements into a single string
    print(out.put)
}
```

In [28]:
# Try character vector for loop!

#### 2.3 while
```
i <- 0
while (i < 10) {
    print("More chocolate please!")
    i <- i+1 # Super important! Or your while loop will never end...
}
```

In [30]:
# Try while!

### 3. Import data
##### read.csv()
```
setwd("YOUR/DIRECTORY/TO/Unit1-module2-R")
nav.d14 <- read.csv("NAV-D14_DEseq2.csv", header=TRUE)
nav.d14
class(nav.d14)
```

In [32]:
# Try read.csv!

### 4. View data
```
str(nav.d14) # Structure
dim(nav.d14) # Dimensions
head(nav.d14, n=5) # Top 5 rows
tail(nav.d14, n=10) # Bottom 5 rows
#levels() # List of levels in a factor vector
```

In [34]:
# Try viewing data!

### 3. Subsetting / Merging data

#### 3.1 Subsetting by column names
```
nav.d14.sub <- nav.d14[c("gene.name", "log2FoldChange", "pvalue")]
head(nav.d14.sub)
```

In [37]:
# Try subsetting by column names!

#### 3.2  cbind(): merging dataframe vertically
```
# cbind -- column-bind
nav.d14.sub <- cbind(nav.d14.sub, nav.d14["baseMean"]) # For instance you forgot you need baseMean too...
head(nav.d14.sub)
```

In [38]:
# Try cbind()!

#### 3.3 subset()
```
nav.d14.sub.sig.less <- subset(nav.d14.sub, pvalue <= 0.05 & log2FoldChange < 0) # Subsetting by value
nav.d14.sub.sig.more <- subset(nav.d14.sub, pvalue <= 0.05 & log2FoldChange > 0)
```

In [39]:
# Try subset()!

#### 3.4 rbind(): merging dataframe horizontally
```
# rbind -- row-bind
nav.d14.sub.sig.all <- rbind(nav.d14.sub.sig.less, nav.d14.sub.sig.more) # Merging rows
dim(nav.d14.sub.sig.less)
dim(nav.d14.sub.sig.more)
dim(nav.d14.sub.sig.all)
```

In [40]:
# Try rbind()!

#### * Change column names
```
colnames(nav.d14.sub.sig.all) <- c("gn","fc","pval","bm")
head(nav.d14.sub.sig.all)
```

In [41]:
# Try change colnames()!

### 4. Sort data: order()
```
nav.d14.sub.sig.all.srt <- nav.d14.sub.sig.all[order(nav.d14.sub.sig.all$bm),]
head(nav.d14.sub.sig.all, n=5)
head(nav.d14.sub.sig.all.srt, n=5)
```

In [1]:
# Try order()!

### 5. User defined function and apply

#### 5.1 User defined function
```
function.name <- function(x) {
...
return()
}
```

In [1]:
# Simple function that does only print()
requestChocolate <- function(x) {
    print("Chocolate please!")
}
requestChocolate()

[1] "Chocolate please!"

In [2]:
# Function that take a input to print()
requestFood <- function(x) {
    requested <- paste(x, " please!", sep="")
    print(requested)
}
requestFood("Cheese")

[1] "Cheese please!"

In [3]:
# Function that take a input and contain if ..., and return a result.
needMoreFood <- function(food.weight) {
    if (food.weight<10){
        print("Food please!")
    }
    return(TRUE)
}
food.weight.eval <- needMoreFood(8)
food.weight.eval

[1] "Food please!"

[1] TRUE

##### A function that contain if ... else if ... else ...
```
# Define a function to evaluate fold change, up-regulation/ down-regulation / no fold change
fcEval <- function(x) {
    if(x>0){
        return("UP")
    }
    else if(x<0){
        return("DOWN")
    }
    else{
        return("NONE")
    }
}
```

In [17]:
# Try define the function above!

#### 5.2 lapply(): give function to every element of a list and return a list as result
Read more about apply: https://www.datacamp.com/community/tutorials/r-tutorial-apply-family
```
fc.eval.results <- lapply(nav.d14.sub.sig.all$fc,fcEval) # Use lapply to process all the 
fc.eval.results <- factor(unlist(fc.eval.results)) # Convert list to vector
summary(fc.eval.results)
```

In [18]:
# Try to use your function by apply!

### 6. Export data

```
write.table(nav.d14.sub.sig.all.srt,row.names=FALSE, "nav.d14.sub.sig.all.srt.csv", sep=",")
```

In [19]:
# Try export data!

## Homework

## 1. Hello world everyday!
### 1.1 Make a vector containing days of the week, from Monday to Sunday.
### 1.2 Use a for loop to pring "Hello world XXXday!" for each day of the week.

In [1]:
week.days <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday")
for (i in week.days){
    output<-paste("Hello world", i, "!")
    print(gsub(" !","!", output))
}

[1] "Hello world Monday!"
[1] "Hello world Tuesday!"
[1] "Hello world Wednesday!"
[1] "Hello world Thursday!"
[1] "Hello world Friday!"
[1] "Hello world Saturday!"
[1] "Hello world Sunday!"

## 2. The Pie
### 2.1 In the first 100 digits of pie, count how many numbers are even. 
### 2.2 Convert the first 200 digits of pie into a 20x10 matrix
https://www.piday.org/million/

In [2]:
pi <- "3.14159265358979323846264338327950288419716939937510582097494459230781640628620899862803482534211706798214808651328230664709384460955058223172535940812848111745028410270193852110555964462294895493038196442881097566593344612847564823378678316527120190914564856692346034861045432664821339360726024914127372458700660631558817488152092096282925409171536436789259036001133053054882046652138414695194151160943305727036575959195309218611738193261179310511854807446237996274956735188575272489122793818301194912983367336244065664308602139494639522473719070217986094370277053921717629317675238467481846766940513200056812714526356082778577134275778960917363717872146844090122495343014654958537105079227968925892354201995611212902196086403441815981362977477130996051870721134999999837297804995105973173281609631859502445945534690830264252230825334468503"

In [3]:
pi.vec <- strsplit(pi, "")[[1]]
pi.vec <- as.numeric(pi.vec[pi.vec %in% c(1:9)])
pi.100 <- pi.vec[1:100]
print(pi.100)
sum(pi.100%%2==0)

  [1] 3 1 4 1 5 9 2 6 5 3 5 8 9 7 9 3 2 3 8 4 6 2 6 4 3 3 8 3 2 7 9 5 2 8 8 4 1
 [38] 9 7 1 6 9 3 9 9 3 7 5 1 5 8 2 9 7 4 9 4 4 5 9 2 3 7 8 1 6 4 6 2 8 6 2 8 9
 [75] 9 8 6 2 8 3 4 8 2 5 3 4 2 1 1 7 6 7 9 8 2 1 4 8 8 6

[1] 49

In [4]:
pi.200 <- pi.vec[1:200]
pi.200.array <- array(pi.200, dim=c(20,10,1))
print(pi.200.array)

, , 1

      [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
 [1,]    3    6    6    2    4    5    5    1    5     9
 [2,]    1    2    9    3    8    1    8    1    5     6
 [3,]    4    6    3    7    2    3    2    7    9     4
 [4,]    1    4    9    8    5    2    2    4    6     4
 [5,]    5    3    9    1    3    8    3    5    4     2
 [6,]    9    3    3    6    4    2    1    2    4     8
 [7,]    2    8    7    4    2    3    7    8    6     8
 [8,]    6    3    5    6    1    6    2    4    2     1
 [9,]    5    2    1    2    1    6    5    1    2     9
[10,]    3    7    5    8    7    4    3    2    9     7
[11,]    5    9    8    6    6    7    5    7    4     5
[12,]    8    5    2    2    7    9    9    1    8     6
[13,]    9    2    9    8    9    3    4    9    9     6
[14,]    7    8    7    9    8    8    8    3    5     5
[15,]    9    8    4    9    2    4    1    8    4     9
[16,]    3    4    9    8    1    4    2    5    9     3
[17,]    2    1    4    6    4    6    8    2    3     3
[18,]    3    9    4    2    8    9    4    1    3     4
[19,]    8    7    5    8    8    5    8    1    8     4
[20,]    4    1    9    3    6    5    1    5    1     6

## 3. Prime numbers
### Find first 500 prime numbers. What is the 500th prime number?

In [10]:
is.prime <- function(num) {
   if (num == 2) {
      TRUE
   } else if (any(num %% 2:(num-1) == 0)) {
      FALSE
   } else { 
      TRUE
   }
}
i<-1
sum <- 0
v <- c()
while (sum <= 500){
    if (is.prime(i)){
            sum <- sum+1
            v[sum] <- i
    }else{
    }
    i <- i+1
}
print(v)

  [1]    2    3    5    7   11   13   17   19   23   29   31   37   41   43   47
 [16]   53   59   61   67   71   73   79   83   89   97  101  103  107  109  113
 [31]  127  131  137  139  149  151  157  163  167  173  179  181  191  193  197
 [46]  199  211  223  227  229  233  239  241  251  257  263  269  271  277  281
 [61]  283  293  307  311  313  317  331  337  347  349  353  359  367  373  379
 [76]  383  389  397  401  409  419  421  431  433  439  443  449  457  461  463
 [91]  467  479  487  491  499  503  509  521  523  541  547  557  563  569  571
[106]  577  587  593  599  601  607  613  617  619  631  641  643  647  653  659
[121]  661  673  677  683  691  701  709  719  727  733  739  743  751  757  761
[136]  769  773  787  797  809  811  821  823  827  829  839  853  857  859  863
[151]  877  881  883  887  907  911  919  929  937  941  947  953  967  971  977
[166]  983  991  997 1009 1013 1019 1021 1031 1033 1039 1049 1051 1061 1063 1069
[181] 1087 1091 1093 1097 1103 1109 1117 1123 1129 1151 1153 1163 1171 1181 1187
[196] 1193 1201 1213 1217 1223 1229 1231 1237 1249 1259 1277 1279 1283 1289 1291
[211] 1297 1301 1303 1307 1319 1321 1327 1361 1367 1373 1381 1399 1409 1423 1427
[226] 1429 1433 1439 1447 1451 1453 1459 1471 1481 1483 1487 1489 1493 1499 1511
[241] 1523 1531 1543 1549 1553 1559 1567 1571 1579 1583 1597 1601 1607 1609 1613
[256] 1619 1621 1627 1637 1657 1663 1667 1669 1693 1697 1699 1709 1721 1723 1733
[271] 1741 1747 1753 1759 1777 1783 1787 1789 1801 1811 1823 1831 1847 1861 1867
[286] 1871 1873 1877 1879 1889 1901 1907 1913 1931 1933 1949 1951 1973 1979 1987
[301] 1993 1997 1999 2003 2011 2017 2027 2029 2039 2053 2063 2069 2081 2083 2087
[316] 2089 2099 2111 2113 2129 2131 2137 2141 2143 2153 2161 2179 2203 2207 2213
[331] 2221 2237 2239 2243 2251 2267 2269 2273 2281 2287 2293 2297 2309 2311 2333
[346] 2339 2341 2347 2351 2357 2371 2377 2381 2383 2389 2393 2399 2411 2417 2423
[361] 2437 2441 2447 2459 2467 2473 2477 2503 2521 2531 2539 2543 2549 2551 2557
[376] 2579 2591 2593 2609 2617 2621 2633 2647 2657 2659 2663 2671 2677 2683 2687
[391] 2689 2693 2699 2707 2711 2713 2719 2729 2731 2741 2749 2753 2767 2777 2789
[406] 2791 2797 2801 2803 2819 2833 2837 2843 2851 2857 2861 2879 2887 2897 2903
[421] 2909 2917 2927 2939 2953 2957 2963 2969 2971 2999 3001 3011 3019 3023 3037
[436] 3041 3049 3061 3067 3079 3083 3089 3109 3119 3121 3137 3163 3167 3169 3181
[451] 3187 3191 3203 3209 3217 3221 3229 3251 3253 3257 3259 3271 3299 3301 3307
[466] 3313 3319 3323 3329 3331 3343 3347 3359 3361 3371 3373 3389 3391 3407 3413
[481] 3433 3449 3457 3461 3463 3467 3469 3491 3499 3511 3517 3527 3529 3533 3539
[496] 3541 3547 3557 3559 3571 3581

## 5. Read both NAV-D14_DEseq2.csv and NAV-MEM-DEseq2.csv into dataframes: df.nav.d14 and df.nav.mem .
### 5.1 Subset both dataframes to include only "baseMean", "log2FoldChange" and "padj"

In [30]:
df.nav.d14 <- read.csv("NAV-D14_DEseq2.csv")
df.nav.mem <- read.csv("NAV-MEM_DEseq2.csv")

In [32]:
df.nav.d14.subset <- subset(df.nav.d14, select=c("baseMean", "log2FoldChange", "padj"))
print("subset of Nav-D14")
head(df.nav.d14.subset)
df.nav.mem.subset <- subset(df.nav.mem, select=c("baseMean", "log2FoldChange", "padj"))
print("subset of Nav-mem")
head(df.nav.mem.subset)

[1] "subset of Nav-D14"

  baseMean   log2FoldChange padj
1  25.256745  1.30246882    8.209295e-03
2   0.288508 -0.05077872              NA
3 163.507773 -0.05502833    9.144493e-01
4 296.461713  0.27370099    3.312390e-01
5 199.011986 -1.62012005    1.590000e-07
6 122.792530 -5.60936805    7.150000e-17

[1] "subset of Nav-mem"

  baseMean   log2FoldChange padj
1  25.256745  0.79648366    1.592970e-01
2   0.288508  0.11136908              NA
3 163.507773 -0.35399129    3.222973e-01
4 296.461713  0.07204111    8.587087e-01
5 199.011986  0.20171786    6.914181e-01
6 122.792530 -3.99706084    1.250000e-09

### 5.2 Merge the two dataframes (Change column names so that there are no repetative column names. The base mean in two spreadsheets are the same so delete the extra one.) into a dataframe df.nav.d14.mem.

In [11]:
colnames(df.nav.d14) <- c("gene.name", "baseMean", "log2FoldChange-d14", "lfcSE-d14", "stat-d14", "pvalue-d14", "padj-d14")
row.names(df.nav.d14) <- df.nav.d14$gene.name
colnames(df.nav.mem) <- c("gene.name", "baseMean", "log2FoldChange-mem", "lfcSE-mem", "stat-mem", "pvalue-mem", "padj-mem")
row.names(df.nav.mem) <- df.nav.mem$gene.name
#head(df.nav.d14)
df.nav.d14.mem <- cbind(df.nav.d14, df.nav.mem)
df.nav.d14.mem <- df.nav.d14.mem[, !duplicated(colnames(df.nav.d14.mem))]
head(df.nav.d14.mem)

         gene.name baseMean   log2FoldChange-d14 lfcSE-d14 stat-d14
TSPAN6   TSPAN6     25.256745  1.30246882        0.4166710  3.1258926
TNMD     TNMD        0.288508 -0.05077872        0.4875003 -0.1041614
DPM1     DPM1      163.507773 -0.05502833        0.2492486 -0.2207769
SCYL3    SCYL3     296.461713  0.27370099        0.1964251  1.3934117
C1orf112 C1orf112  199.011986 -1.62012005        0.2833121 -5.7184998
FGR      FGR       122.792530 -5.60936805        0.6378324 -8.7944226
         pvalue-d14   padj-d14     log2FoldChange-mem lfcSE-mem stat-mem
TSPAN6   1.772662e-03 8.209295e-03  0.79648366        0.3778646  2.1078545
TNMD     9.170413e-01           NA  0.11136908        0.5380579  0.2069835
DPM1     8.252662e-01 9.144493e-01 -0.35399129        0.2170358 -1.6310274
SCYL3    1.634953e-01 3.312390e-01  0.07204111        0.1698354  0.4241819
C1orf112 1.070000e-08 1.590000e-07  0.20171786        0.2517235  0.8013470
FGR      1.440000e-18 7.150000e-17 -3.99706084        0.5938327 -6.7309544
         pvalue-mem   padj-mem
TSPAN6   3.504358e-02 1.592970e-01
TNMD     8.360228e-01           NA
DPM1     1.028845e-01 3.222973e-01
SCYL3    6.714331e-01 8.587087e-01
C1orf112 4.229308e-01 6.914181e-01
FGR      1.690000e-11 1.250000e-09

### 5.3 Sort the new dataframe on " baseMean".

In [13]:
df.nav.d14.mem.srt <- df.nav.d14.mem[order(df.nav.d14.mem$baseMean),]
head(df.nav.d14.mem.srt)

        gene.name baseMean   log2FoldChange-d14 lfcSE-d14 stat-d14   pvalue-d14
HOXA11  HOXA11    0.05932533  0.08516965        0.4857462  0.1753378 0.8608142
CCL26   CCL26     0.09053621  0.00000000        0.4857462  0.0000000 1.0000000
CEACAM7 CEACAM7   0.11865065  0.15015459        0.4857462  0.3091215 0.7572291
CCT8L1P CCT8L1P   0.14345538  0.06952303        0.4857462  0.1431262 0.8861905
ZNF806  ZNF806    0.15787023 -0.11999276        0.4857462 -0.2470277 0.8048868
KRT33A  KRT33A    0.21961349 -0.05017946        0.4858590 -0.1032799 0.9177408
        padj-d14 log2FoldChange-mem lfcSE-mem stat-mem    pvalue-mem padj-mem
HOXA11  NA        0.03467809        0.5378378  0.06447686 0.9485905  NA
CCL26   NA       -0.12804415        0.5378378 -0.23807208 0.8118252  NA
CEACAM7 NA        0.11006061        0.5378378  0.20463534 0.8378570  NA
CCT8L1P NA       -0.05276310        0.5378378 -0.09810226 0.9218511  NA
ZNF806  NA        0.02561065        0.5378378  0.04761780 0.9620208  NA
KRT33A  NA        0.10178886        0.5378379  0.18925565 0.8498925  NA

### 5.4 Define a function to evaluate padj output:
    - padj > 0.05: nonsig
    - padj <= 0.05: sig

### 5.5 Apply the function to both nav.mem and nav.d14 and create one column to add the evaluation result.

In [22]:
# p-value types
# padj > 0.05: nonsig
# 0.05 >= padj: sig

ptype <- function(padj) {
    if (is.na(padj)) {
        return(NA)
    }
    else if(padj > 0.05) {
        return("nonsig")
    }
    else if(padj <= 0.05) {
        return("sig")
    }
}

In [33]:
df.nav.d14.ptype <- lapply(df.nav.d14$padj, ptype)
df.nav.d14.ptype <- factor(unlist(df.nav.d14.ptype))
df.nav.d14 <- cbind(df.nav.d14, df.nav.d14.ptype)
head(df.nav.d14)
df.nav.mem.ptype <- lapply(df.nav.mem$padj, ptype)
df.nav.mem.ptype <- factor(unlist(df.nav.mem.ptype))
df.nav.mem <- cbind(df.nav.mem, df.nav.mem.ptype)
head(df.nav.mem)

  gene.name baseMean   log2FoldChange lfcSE     stat       pvalue
1 TSPAN6     25.256745  1.30246882    0.4166710  3.1258926 1.772662e-03
2 TNMD        0.288508 -0.05077872    0.4875003 -0.1041614 9.170413e-01
3 DPM1      163.507773 -0.05502833    0.2492486 -0.2207769 8.252662e-01
4 SCYL3     296.461713  0.27370099    0.1964251  1.3934117 1.634953e-01
5 C1orf112  199.011986 -1.62012005    0.2833121 -5.7184998 1.070000e-08
6 FGR       122.792530 -5.60936805    0.6378324 -8.7944226 1.440000e-18
  padj         df.nav.d14.ptype
1 8.209295e-03 sig
2           NA NA
3 9.144493e-01 nonsig
4 3.312390e-01 nonsig
5 1.590000e-07 sig
6 7.150000e-17 sig

  gene.name baseMean   log2FoldChange lfcSE     stat       pvalue
1 TSPAN6     25.256745  0.79648366    0.3778646  2.1078545 3.504358e-02
2 TNMD        0.288508  0.11136908    0.5380579  0.2069835 8.360228e-01
3 DPM1      163.507773 -0.35399129    0.2170358 -1.6310274 1.028845e-01
4 SCYL3     296.461713  0.07204111    0.1698354  0.4241819 6.714331e-01
5 C1orf112  199.011986  0.20171786    0.2517235  0.8013470 4.229308e-01
6 FGR       122.792530 -3.99706084    0.5938327 -6.7309544 1.690000e-11
  padj         df.nav.mem.ptype
1 1.592970e-01 nonsig
2           NA NA
3 3.222973e-01 nonsig
4 8.587087e-01 nonsig
5 6.914181e-01 nonsig
6 1.250000e-09 sig

## Install Swirl,  do "R programming" and "Data analysis"
https://swirlstats.com/students.html